---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/currently-playing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer expired access token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer realm="spotify", error="invalid_token", error_description="The access
        token expired"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "status": 401,
            "message": "The access token expired"
          }
        }
  recorded_at: Sun, 12 Aug 2018 03:24:24 GMT
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=refresh%20token
    headers:
      Authorization:
      - Basic c3BvdGlmeV9jbGllbnRfaWQ6c3BvdGlmeV9jbGllbnRfc2VjcmV0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"refreshed access token","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-read-currently-playing"}'
  recorded_at: Sun, 12 Aug 2018 03:24:24 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/currently-playing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer refreshed access token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp" : 1534044176539,
          "context" : null,
          "progress_ms" : 88538,
          "item" : {
            "album" : {
              "album_type" : "single",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/28Ky95tmlHktB96DBUoB0g"
                },
                "href" : "https://api.spotify.com/v1/artists/28Ky95tmlHktB96DBUoB0g",
                "id" : "28Ky95tmlHktB96DBUoB0g",
                "name" : "Tristam",
                "type" : "artist",
                "uri" : "spotify:artist:28Ky95tmlHktB96DBUoB0g"
              } ],
              "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JP", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SK", "SV", "TH", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/0YNibDdtO5c6V7D09bBK7p"
              },
              "href" : "https://api.spotify.com/v1/albums/0YNibDdtO5c6V7D09bBK7p",
              "id" : "0YNibDdtO5c6V7D09bBK7p",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/cc0e1e4b208a584511aaf12700d1c98f840ae0b0",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/b9438e1fab7a81924726aa3ca7f2405e6eafd00f",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/3c7559e959adb828504e28e35b265d32bf6044f3",
                "width" : 64
              } ],
              "name" : "Bone Dry",
              "release_date" : "2017-06-19",
              "release_date_precision" : "day",
              "type" : "album",
              "uri" : "spotify:album:0YNibDdtO5c6V7D09bBK7p"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/28Ky95tmlHktB96DBUoB0g"
              },
              "href" : "https://api.spotify.com/v1/artists/28Ky95tmlHktB96DBUoB0g",
              "id" : "28Ky95tmlHktB96DBUoB0g",
              "name" : "Tristam",
              "type" : "artist",
              "uri" : "spotify:artist:28Ky95tmlHktB96DBUoB0g"
            } ],
            "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JP", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SK", "SV", "TH", "TR", "TW", "US", "UY", "VN", "ZA" ],
            "disc_number" : 1,
            "duration_ms" : 285000,
            "explicit" : false,
            "external_ids" : {
              "isrc" : "CA6D21700137"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/0hqAWKZDhuOfFb6aK002Ph"
            },
            "href" : "https://api.spotify.com/v1/tracks/0hqAWKZDhuOfFb6aK002Ph",
            "id" : "0hqAWKZDhuOfFb6aK002Ph",
            "is_local" : false,
            "name" : "Bone Dry",
            "popularity" : 51,
            "preview_url" : "https://p.scdn.co/mp3-preview/45d746f01775f743c3447593e4998b9d6f734b8b?cid=70af0abc99f4457fb3ea64dd7361dfb7",
            "track_number" : 1,
            "type" : "track",
            "uri" : "spotify:track:0hqAWKZDhuOfFb6aK002Ph"
          },
          "is_playing" : true
        }
  recorded_at: Sun, 12 Aug 2018 03:24:24 GMT
recorded_with: VCR 4.0.0
